<link rel="stylesheet" href="/css/_comment.css" />
<li id="comments-container">
  <div id="comment">
    <h3><%= comment.content %></h3>

    <small> <%= comment.user.name %> </small>
  </div>
  <% if (locals.user && locals.user.id == comment.user.id) { %>

  <div id="delete-comment">
    <a href="/comments/destroy/<%= comment.id%> "
      ><span class="material-symbols-outlined"> delete_forever </span></a
    >
  </div>
  <% } %>
</li>
