#comments-container {
  /* border: 1px solid red; */
  background-color: rgba(255, 195, 111, 0.957);
  border-radius: 20px;
  display: flex;
  margin: 10px 0px;
  padding: 10px;
  justify-content: space-between;
}

#comment h3 {
  font-size: 16px;
  margin: 3px 10px;
}

#comment small {
  font-size: 12px;
  margin: 3px 10px;
}
#delete-button {
  width: 30%;
  position: relative;
  right: 0px;
}
